{% extends 'blog/base.html' %}
{% load static %}

{% block title %}Register{% endblock %}

{% block content %}
<h2>Create Your Account</h2>
<p>Please fill in the form below to register for a new account.</p>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Register</button>
</form>

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                {{ message }}
            </li>
        {% endfor %}
    </ul>
{% endif %}
{% endblock %}
